option_settings:
  - namespace: 'aws:autoscaling:launchconfiguration'
    option_name: InstanceType
    value: 't2.medium'
  - namespace: 'aws:elasticbeanstalk:application:environment'
    option_name: data_dir
    value: '/opt/current_model'
  - namespace: 'aws:elasticbeanstalk:application:environment'
    option_name: restore_model
    value: '/opt/current_model/current.ckpt'
