files:
  "/home/ec2-user/setup/install.sh":
    content: |
      yum install --enablerepo=epel -y nodejs npm
      ln -s /usr/local/bin/node /usr/bin/node
      /opt/python/run/venv/bin/pip install --upgrade six
      /opt/python/run/venv/bin/pip install https://storage.googleapis.com/tensorflow/linux/cpu/tensorflow-0.5.0-cp27-none-linux_x86_64.whl
    owner: ec2-user
    group: ec2-user
    mode: "000755"

  "/home/ec2-user/setup/load-model.sh":
    content: |
      mkdir -p /opt/current_model/
      aws s3 cp --recursive s3://speakeasy-data/current_model/ /opt/current_model/
      chmod -R ugo+r /opt/current_model/
    owner: ec2-user
    group: ec2-user
    mode: "000755"

container_commands:
  01-install:
    command: "/home/ec2-user/setup/install.sh"
  02-load:
    command: "/home/ec2-user/setup/load-model.sh"
